.MuiCheckbox-root{
    padding: 6px !important;
}

.sidebar .scroll{
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.sidebar .scroll::-webkit-scrollbar{
    width: 5px !important;
    height: 5px !important;
}

.ReactCollapse--collapse{
    transition: height 500ms;
}