@import "tailwindcss";

.HomeCatSlider .container .item:hover {
  box-shadow: 2px 2px var(--primary-clr);
}

.HomeCatSlider .container .item:hover img {
  transform: scale(1.2);
}

.CatSlider {
  overflow: inherit !important;
}
